<div class="row">
  <div class="col">
    <input #termino type="text" class="form-control" placeholder="Buscar artista..." (keyup)="buscar(termino.value)">
  </div>
</div>

<!-- <div class="card-columns m-5">

    <div *ngFor="let artista of artistas" class="card">
      <img class="card-img-top" [src]="artista.images | noimage" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ artista.name }}</h5>
      </div>
  
</div> -->
<app-loading *ngIf="loading" class="m-5"></app-loading>
<app-tarjetas [items]="artistas"></app-tarjetas>